<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=&quot;|DataDirectory|\aspnet-Library System-20170305015915.mdf&quot;;Initial Catalog=&quot;aspnet-Library System-20170305015915&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />
