@{
    if (Request.Cookies["userEmail"].Value != "null")
    {
        Response.Redirect("/Home");
    }
}
<h2>Iniciar Sesión</h2>
<hr />

@{
    if (ViewBag.error != null)
    {
        <div class="alert alert-danger">
            <strong>¡Error!</strong> @ViewBag.error
        </div>
        <h4></h4>
    }
}

<form action="/User/Login" method="post" class="form-horizontal">


    <div class="form-group">
        <label for="exampleInputEmail1 " class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="ejemplo@gmail.com" required>
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Contraseña</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" name="password" id="Password" placeholder="••••••" required>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-default">Iniciar Sesión</button>
            </div>
        </div>
</form>